---
name: Test

on:
  pull_request:
    paths-ignore:
      - README.md
  push:
    paths-ignore:
      - README.md

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: go.mod
          cache: true
      - name: Install Dependencies
        run: go mod download
      - name: Build
        run: go build -v .
      - name: Run Generate
        run: go generate ./...
      - name: Check Generated Code
        run: |
          git diff --compact-summary --exit-code || \
            (echo; echo "Unexpected difference in directories after code generation. Run 'go generate ./...' command and commit."; exit 1)
